<!DOCTYPE html>
<html>
  <head>
      <title>Materials</title>
  </head>
  <body>
      <h1>Suprez</h1>
      <button id="cartBtn"><a href="/cart/">Go to Cart</a></button>

      <h3>Potion Ingredients</h3>

      <p>
          The need to forage is no more! Order ingredients online and have them shipped right to you!
      </p>

      <br>
      <img src="https://i.pinimg.com/originals/be/85/39/be8539afa1df984790870cc6a3f69349.jpg" width="200" height="200"></img>


      <script src="{{url_for('static', filename='script.js')}}"></script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </body>
</html>