<!DOCTYPE html>
<html>
<head>
    <title>Potions</title>
</head>
<body>
    <h1>Suprez</h1>
    <button id="cartBtn"><a href="/cart/">Go to Cart</a></button>

    <h3>Potions & Tools</h3>

    <p>
        Stock up on any variety of potions! <h6>Suprez is not responsible for any damages or incidents that may occur.</h6>
    </p>

    <br>
    <img src="https://i.pinimg.com/originals/4f/6f/c6/4f6fc65aacd6eadce01035be920a7ca5.jpg" width="200" height="200"></img>
    <img src="https://thumbs.dreamstime.com/b/empty-cauldron-white-968917.jpg" width="200" height="200"></img>
    <img src="https://i.pinimg.com/736x/85/c0/c8/85c0c8342c60406e76c0d52d818d51a3.jpg" height="200"></img>


    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</body>
</html>